@font-face {
    font-family: spoqa;
    src: url(/2025-new-portfolio/assets/SpoqaHanSansNeo-Thin-BEll0Yos.woff) format('woff');
    font-weight: 300;
}
@font-face {
    font-family: spoqa;
    src: url(/2025-new-portfolio/assets/SpoqaHanSansNeo-Light-3t6pN2GM.woff) format('woff');
    font-weight: 400;
}
@font-face {
    font-family: spoqa;
    src: url(/2025-new-portfolio/assets/SpoqaHanSansNeo-Regular-C4a2uCkb.woff) format('woff');
    font-weight: 500;
}
@font-face {
    font-family: spoqa;
    src: url(/2025-new-portfolio/assets/SpoqaHanSansNeo-Medium-DQe7SotM.woff) format('woff');
    font-weight: 600;
}
@font-face {
    font-family: spoqa;
    src: url(/2025-new-portfolio/assets/SpoqaHanSansNeo-Bold-DDAPTf0M.woff) format('woff');
    font-weight: 700;
}
@font-face {
    font-family: black;
    src: url(./../fonts/BlackHanSans-Regular.woff) format('woff');
    font-weight: 500;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
button,
select,
input,
textarea {
    vertical-align: bottom;
    background: transparent;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    word-break: break-all;
    font-family: spoqa, sans-serif;
    font-size: 100%;
    letter-spacing: -0.05em;
    line-height: 1;
}
:before,
:after {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
}
article,
aside,
canvas,
details,
figure,
figcaption,
footer,
header,
menu,
nav,
section {
    display: block;
}
html {
    font-size: 10px;
    width: 100%;
    letter-spacing: 0;
}
body {
    color: #000;
    background: #f3f4f6;
    cursor: auto;
    overflow: hidden;
}
@media (pointer: fine) {
    body {
        cursor: none;
    }
}
img {
    vertical-align: middle;
}
button {
    background-color: transparent;
    cursor: pointer;
    border: 0;
}
ul,
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: #000;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}
code {
    white-space: pre;
}
a {
    text-decoration: none;
}
input::-webkit-input-placeholder {
    color: #999;
}
input:-ms-input-placeholder {
    color: #999;
}
textarea::-webkit-input-placeholder {
    color: #999;
}
textarea:-ms-input-placeholder {
    color: #999;
}
input[type='text']::-ms-clear {
    display: none;
}
.hidden {
    position: absolute;
    display: block;
    overflow: hidden;
    height: 1px;
    width: 1px;
    clip: rect(1px, 1px, 1px, 1px);
}
.hidden-p {
    display: none !important;
}
@media (max-width: 750px) {
    .hidden-p {
        display: block !important;
    }
}
.hidden-m {
    display: block !important;
}
@media (max-width: 750px) {
    .hidden-m {
        display: none !important;
    }
}
.header {
    position: fixed;
    top: 15px;
    z-index: 100;
    mix-blend-mode: difference;
    right: clamp(30px, 30 / 1920 * 100vw, 30 / 1920 * 100vw);
}
.header__nav {
    display: flex;
    margin-left: auto;
}
.header__link-wrap + .header__link-wrap {
    margin-left: clamp(15px, 30 / 1920 * 100vw, 30 / 1920 * 100vw);
}
.header__linker {
    font-style: italic;
    color: #fff;
    font-family: spoqa, 'sans-serif';
    font-weight: 600;
    font-size: clamp(15px, 17 / 1920 * 100vw, 30 / 1920 * 100vw);
}
.logo {
    position: fixed;
    z-index: 10001;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    color: #fff;
    font-family: spoqa, 'sans-serif';
    font-weight: 700;
    font-size: clamp(30px, 100 / 1920 * 100vw, 100 / 1920 * 100vw);
    font-style: italic;
    opacity: 0;
    pointer-events: none;
}
.scroll-container {
    width: 100vw;
    height: 100vh;
    will-change: transform;
    transform: translateZ(0);
    contain: strict;
    overflow: hidden;
}
.scroll-content {
    overflow: hidden;
}
.color-box {
    width: 50vw;
    height: 50vh;
    margin: 100px auto 0;
}
.content-wrap {
    width: clamp(320px, 1800 / 1920 * 100vw, 1800 / 1920 * 100vw);
    padding: clamp(20px, 20 / 1920 * 100vw, 20 / 1920 * 100vw);
    padding-top: 0;
    padding-bottom: 0;
    margin: 0 auto;
}
@media (max-width: 750px) {
    .content-wrap {
        width: 100%;
    }
}
.cursor-dot {
    display: none;
    z-index: 10000;
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(-100%, -100%);
    width: 10px;
    height: 10px;
    border-radius: 100%;
    mix-blend-mode: difference;
    background: #fff;
    pointer-events: none;
}
@media (pointer: fine) {
    .cursor-dot {
        display: block;
    }
}
.cursor-circle {
    display: none;
    z-index: 10000;
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(-100%, -100%);
    width: 40px;
    height: 40px;
    border-radius: 100%;
    mix-blend-mode: difference;
    background: transparent;
    border: 2px solid #fff;
    pointer-events: none;
}
@media (pointer: fine) {
    .cursor-circle {
        display: block;
    }
}
.page-loader {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 10000;
    top: 0;
    left: 0;
    background: #000;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
.page-transition-element {
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #000;
    overflow: hidden;
}
.page-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: clamp(100px, 250 / 1920 * 100vw, 250 / 1920 * 100vw);
    height: clamp(100px, 250 / 1920 * 100vw, 250 / 1920 * 100vw);
}
.intro__wrap {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    min-height: 100vh;
    overflow: hidden;
}
.intro__headline {
    text-align: center;
    color: #111;
    font-family: spoqa, 'sans-serif';
    font-weight: 700;
    font-size: clamp(50px, 85 / 1920 * 100vw, 85 / 1920 * 100vw);
    margin-top: clamp(100px, 200 / 1920 * 100vw, 200 / 1920 * 100vw);
}
@media (max-width: 750px) {
    .intro__headline {
        font-family: spoqa, 'sans-serif';
        font-weight: 700;
        font-size: clamp(40px, 40 / 1920 * 100vw, 40 / 1920 * 100vw);
        line-height: 1.2;
    }
}
.intro__brace {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #111;
    margin-top: clamp(30px, 40 / 1920 * 100vw, 40 / 1920 * 100vw);
    font-family: spoqa, 'sans-serif';
    font-weight: 300;
    font-size: clamp(20px, 40 / 1920 * 100vw, 40 / 1920 * 100vw);
}
.intro__desc {
    display: block;
    margin: clamp(10px, 30 / 1920 * 100vw, 30 / 1920 * 100vw);
    margin-top: 0;
    margin-bottom: 0;
    font-family: spoqa, 'sans-serif';
    font-weight: 300;
    font-size: clamp(20px, 40 / 1920 * 100vw, 40 / 1920 * 100vw);
}
.intro__rolling-container {
    margin-top: clamp(40px, 80 / 1920 * 100vw, 80 / 1920 * 100vw);
}
.intro__rolling-wrap {
    display: flex;
    align-items: center;
}
.intro__rolling-wrap + .intro__rolling-wrap {
    margin-top: clamp(30px, 30 / 1920 * 100vw, 30 / 1920 * 100vw);
}
.intro__rolling-group {
    flex-shrink: 0;
    display: inline-flex;
    flex-wrap: nowrap;
    white-space: nowrap;
    padding-left: clamp(15px, 30 / 1920 * 100vw, 30 / 1920 * 100vw);
}
.intro__vector-wrap {
    display: flex;
    align-items: center;
    width: clamp(100px, 200 / 1920 * 100vw, 200 / 1920 * 100vw);
}
.intro__vector-wrap + .intro__vector-wrap {
    margin-left: clamp(15px, 30 / 1920 * 100vw, 30 / 1920 * 100vw);
}
.intro__vector {
    width: 100%;
    height: auto;
    fill: #333;
}
.enter-resume {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    min-height: 100vh;
    min-height: 100lvh;
    overflow: hidden;
}
.enter-resume__circle {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #111;
    width: clamp(50px, 100 / 1920 * 100vw, 100 / 1920 * 100vw);
    height: clamp(50px, 100 / 1920 * 100vw, 100 / 1920 * 100vw);
    border-radius: 50%;
    overflow: hidden;
    transform-origin: 50% 50%;
}
.enter-resume__desc {
    color: #fff;
    text-align: center;
    transform-origin: 50% 50%;
    font-family: spoqa, 'sans-serif';
    font-weight: 600;
    font-size: clamp(12px, 22 / 1920 * 100vw, 22 / 1920 * 100vw);
}
.enter-resume__circle-cover {
    position: absolute;
    top: 50%;
    left: 50%;
    width: clamp(50px, 100 / 1920 * 100vw, 100 / 1920 * 100vw);
    height: clamp(50px, 100 / 1920 * 100vw, 100 / 1920 * 100vw);
    background: #111;
    border-radius: 50%;
    transform-origin: 50% 50%;
}
.resume {
    margin-top: 60vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    z-index: 11;
    position: relative;
    width: 100vw;
    min-height: 100vh;
    min-height: 100lvh;
    background: #111;
    overflow: hidden;
}
.resume__text-wrap {
    width: clamp(280px, 1800 / 1920 * 100vw, 1800 / 1920 * 100vw);
    padding: clamp(20px, 20 / 1920 * 100vw, 20 / 1920 * 100vw);
    padding-top: 0;
    padding-bottom: 200px;
}
@media (max-width: 750px) {
    .resume__text-wrap {
        width: 100%;
    }
}
.resume__desc {
    text-align: center;
    color: #fff;
    font-family: spoqa, 'sans-serif';
    font-weight: 300;
    font-size: clamp(30px, 70 / 1920 * 100vw, 70 / 1920 * 100vw);
}
@media (max-width: 750px) {
    .resume__desc {
        font-family: spoqa, 'sans-serif';
        font-weight: 300;
        font-size: clamp(25px, 25 / 1920 * 100vw, 25 / 1920 * 100vw);
    }
}
.resume__desc + .resume__desc {
    margin-top: clamp(100px, 200 / 1920 * 100vw, 200 / 1920 * 100vw);
}
.resume__bold {
    display: inline-block;
    font-weight: 600;
}
.resume div {
    line-height: 1.4;
}
.device {
    position: relative;
    z-index: 10;
    margin-top: -50vh;
    display: block;
    width: 100vw;
    min-height: 260vh;
    min-height: 260lvh;
    overflow: hidden;
    pointer-events: none;
}
.device__wrap {
    position: absolute;
    top: 19.35%;
    left: 50%;
    width: auto;
    width: 50vmax;
    height: auto;
    height: 50vmax;
    transform: translate(-50%, -50%);
    background: #111;
    border-radius: 50%;
    transform-origin: center center;
}
.advantage {
    position: relative;
}
.advantage__item-wrap {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    width: 100%;
}
@media (max-width: 750px) {
    .advantage__item-wrap {
        flex-direction: column;
        align-items: center;
    }
}
.advantage__item-wrap + .advantage__item-wrap {
    margin-top: 40vh;
}
@media (max-width: 750px) {
    .advantage__item-wrap + .advantage__item-wrap {
        margin-top: 15vh;
    }
}
.advantage__item-divide {
    width: 50%;
}
@media (max-width: 750px) {
    .advantage__item-divide {
        width: 100%;
    }
    .advantage__item-divide + .advantage__item-divide {
        margin-top: clamp(30px, 30 / 1920 * 100vw, 30 / 1920 * 100vw);
    }
}
.advantage__item-divide.--subject {
    min-height: 100vh;
}
@media (max-width: 750px) {
    .advantage__item-divide.--subject {
        min-height: auto;
        width: 100%;
    }
}
.advantage__item {
    z-index: 3;
    position: relative;
    text-align: center;
}
.advantage__item-text-wrap .tit {
    position: relative;
    font-family: spoqa, 'sans-serif';
    font-weight: 700;
    font-size: clamp(50px, 85 / 1920 * 100vw, 85 / 1920 * 100vw);
    color: #111;
    line-height: 1.3;
}
@media (max-width: 750px) {
    .advantage__item-text-wrap .tit {
        font-family: spoqa, 'sans-serif';
        font-weight: 700;
        font-size: clamp(30px, 30 / 1920 * 100vw, 30 / 1920 * 100vw);
    }
}
.advantage__item-text-wrap .desc {
    text-align: left;
    font-family: spoqa, 'sans-serif';
    font-weight: 300;
    font-size: clamp(30px, 70 / 1920 * 100vw, 70 / 1920 * 100vw);
    color: #111;
    line-height: 1.6;
    word-break: break-all;
}
@media (max-width: 750px) {
    .advantage__item-text-wrap .desc {
        text-align: center;
        font-family: spoqa, 'sans-serif';
        font-weight: 300;
        font-size: clamp(20px, 20 / 1920 * 100vw, 20 / 1920 * 100vw);
    }
}
.advantage__item-text-wrap .desc + .desc {
    margin-top: clamp(37.5px, 75 / 1920 * 100vw, 75 / 1920 * 100vw);
}
.advantage__item-text-wrap .property {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: clamp(5px, 15 / 1920 * 100vw, 15 / 1920 * 100vw);
    width: clamp(200px, 350 / 1920 * 100vw, 350 / 1920 * 100vw);
    margin: 0 auto;
    margin-top: clamp(10px, 30 / 1920 * 100vw, 30 / 1920 * 100vw);
}
.advantage__item-text-wrap .property + .property {
    margin-top: clamp(10px, 10 / 1920 * 100vw, 10 / 1920 * 100vw);
}
.advantage__item-text-wrap .property__item {
    font-family: spoqa, 'sans-serif';
    font-weight: 700;
    font-size: clamp(13px, 30 / 1920 * 100vw, 30 / 1920 * 100vw);
    line-height: 1.3;
    color: #888;
}
.advantage__item-text-wrap .property__item.--ie {
    text-decoration: line-through;
}
.size {
    z-index: 1;
    position: relative;
    margin-top: -20vh;
    width: 100vw;
    min-height: 130vh;
    min-height: 130lvh;
    overflow: hidden;
}
@media (max-width: 750px) {
    .size {
        margin-top: 0;
    }
}
.size__viewport-wrap {
    position: relative;
    width: 100vw;
    height: 100vh;
}
.size__wrap {
    position: fixed;
    top: 50vh;
    left: 50vw;
    width: clamp(540px, 1080 / 1920 * 100vw, 1080 / 1920 * 100vw);
    height: clamp(270px, 540 / 1920 * 100vw, 540 / 1920 * 100vw);
    transform: translate(-50%, -50%);
}
@media (max-width: 750px) {
    .size__wrap {
        position: fixed;
        top: 50vh;
        left: 50vw;
        width: 100vw;
        height: 100vw;
        transform: translate(-50%, -50%);
    }
}
.size__box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    border-radius: clamp(20px, 30 / 1920 * 100vw, 30 / 1920 * 100vw);
    transform: translate(-50%, -50%);
    background: #111;
}
@media (max-width: 750px) {
    .size__box {
        border-radius: clamp(12px, 12 / 1920 * 100vw, 12 / 1920 * 100vw);
    }
}
.size__side-text {
    position: absolute;
    white-space: nowrap;
    color: #111;
    opacity: 0;
    font-family: spoqa, 'sans-serif';
    font-weight: 600;
    font-size: clamp(75px, 150 / 1920 * 100vw, 150 / 1920 * 100vw);
}
@media (max-width: 750px) {
    .size__side-text {
        width: 100%;
        left: 0;
        right: 0;
        margin: auto;
    }
}
.size__side-text--left {
    text-align: left;
    top: 50%;
    left: -2vw;
    right: auto;
    margin: auto;
    transform: translate(0) translateY(-50%);
    transform-origin: right center;
}
@media (max-width: 750px) {
    .size__side-text--left {
        top: -2.5vw;
        left: 0;
        right: 0;
        bottom: auto;
        margin: auto;
        text-align: center;
        transform-origin: bottom center;
        transform: translate(0) translateY(-100%);
    }
}
.size__side-text--left .size__inner-text {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-100%, -50%);
}
@media (max-width: 750px) {
    .size__side-text--left .size__inner-text {
        left: 50%;
        transform: translate(-50%, -100%);
    }
}
.size__side-text--right {
    text-align: right;
    top: 50%;
    right: -1.2vw;
    bottom: auto;
    left: auto;
    margin: auto;
    transform: translate(0) translateY(-50%);
    transform-origin: left center;
}
@media (max-width: 750px) {
    .size__side-text--right {
        top: auto;
        bottom: -2.2vw;
        left: 0;
        right: 0;
        margin: auto;
        text-align: center;
        transform-origin: top center;
        transform: translate(0) translateY(100%);
    }
}
.size__side-text--right .size__inner-text {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-50%);
}
@media (max-width: 750px) {
    .size__side-text--right .size__inner-text {
        left: 50%;
        transform: translate(-50%);
    }
}
.size__ball {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    width: clamp(75px, 150 / 1920 * 100vw, 150 / 1920 * 100vw);
    height: clamp(75px, 150 / 1920 * 100vw, 150 / 1920 * 100vw);
    transform: translate(-50%, -50%);
    background: #2bcf7a;
    border-radius: 100%;
}
@media (max-width: 750px) {
    .size__ball {
        width: clamp(60px, 80 / 1920 * 100vw, 80 / 1920 * 100vw);
        height: clamp(60px, 80 / 1920 * 100vw, 80 / 1920 * 100vw);
    }
}
.size__ball-text {
    color: #111;
    font-family: spoqa, 'sans-serif';
    font-weight: 700;
    font-size: clamp(12px, 35 / 1920 * 100vw, 35 / 1920 * 100vw);
}
.size__tit {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    font-family: spoqa, 'sans-serif';
    font-weight: 300;
    font-size: clamp(15px, 30 / 1920 * 100vw, 30 / 1920 * 100vw);
}
.wire {
    position: relative;
    width: 100vw;
    min-height: 100vh;
    min-height: 100lvh;
}
.wire__wrap {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.wire__wrap + .wire__wrap {
    margin-top: clamp(80px, 160 / 1920 * 100vw, 160 / 1920 * 100vw);
}
.wire__vector-wrap {
    width: 13%;
}
.wire__vector {
    width: 100%;
    height: auto;
    fill: #ccc;
    background: #f3f4f6;
}
.wire__trigger-end {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 55%;
}
.wire__trigger-after-text-wrap {
    position: absolute;
    top: 65%;
    left: 0;
    right: 0;
    margin: auto;
}
@media (max-width: 750px) {
    .wire__trigger-after-text-wrap {
        position: relative;
        top: 40vh;
        left: 0;
        right: 0;
        margin: auto;
    }
}
.wire__tit {
    font-family: spoqa, 'sans-serif';
    font-weight: 700;
    font-size: clamp(30px, 85 / 1920 * 100vw, 85 / 1920 * 100vw);
    color: #111;
    line-height: 1.3;
    text-align: center;
}
.wire__tit + .wire__tit {
    margin-top: 65vh;
}
@media (max-width: 750px) {
    .wire__tit + .wire__tit {
        margin-top: 50vh;
    }
}
.enter-port {
    z-index: 10;
    position: relative;
    width: 100vw;
    min-height: 150vh;
    min-height: 150lvh;
    margin-top: 45vh;
}
@media (max-width: 750px) {
    .enter-port {
        margin-top: 50vh;
        min-height: 100vh;
    }
}
.enter-port__tit {
    position: absolute;
    top: 32%;
    left: 0;
    right: 0;
    margin: auto;
    transform: translateY(-50%);
    font-family: spoqa, 'sans-serif';
    font-weight: 700;
    font-size: clamp(30px, 85 / 1920 * 100vw, 85 / 1920 * 100vw);
    color: #111;
    line-height: 1.3;
    text-align: center;
}
@media (max-width: 750px) {
    .enter-port__tit {
        top: 50%;
    }
}
.port {
    display: flex;
    top: 0;
    z-index: 11;
    position: relative;
    width: 100vw;
    min-height: 100vh;
    min-height: 100lvh;
    background: #111;
    overflow: hidden;
}
.port__tit-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
@media (max-width: 750px) {
    .port__tit-wrap {
        width: 100%;
    }
}
.port__tit {
    font-family: spoqa, 'sans-serif';
    font-weight: 700;
    font-size: clamp(30px, 85 / 1920 * 100vw, 85 / 1920 * 100vw);
    color: #fff;
}
.port__h-section-wrap {
    display: flex;
}
.port__h-section {
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
@media (max-width: 750px) {
    .port__h-section {
        flex-direction: column;
    }
}
.port__h-figure-wrap {
    flex-shrink: 0;
    width: 55%;
    border-radius: 20px;
    overflow: hidden;
}
@media (max-width: 750px) {
    .port__h-figure-wrap {
        width: 85%;
    }
}
.port__h-figure {
    width: 100%;
    border-radius: 20px;
}
.port__h-img {
    width: 100%;
}
.port__h-section-detail-wrap {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-left: 3%;
    margin-right: 5%;
}
@media (max-width: 750px) {
    .port__h-section-detail-wrap {
        align-items: center;
        margin-left: 0;
        margin-right: 0;
        margin-top: clamp(30px, 30 / 1920 * 100vw, 30 / 1920 * 100vw);
    }
}
.port__h-section-tit {
    font-family: spoqa, 'sans-serif';
    font-weight: 700;
    font-size: clamp(20px, 40 / 1920 * 100vw, 40 / 1920 * 100vw);
    color: #fff;
    text-align: left;
}
@media (max-width: 750px) {
    .port__h-section-tit {
        text-align: center;
    }
}
.port__h-section-desc {
    margin-top: clamp(15px, 30 / 1920 * 100vw, 30 / 1920 * 100vw);
    font-family: spoqa, 'sans-serif';
    font-weight: 300;
    font-size: clamp(15px, 25 / 1920 * 100vw, 25 / 1920 * 100vw);
    color: #fff;
    line-height: 1.4;
    text-align: left;
}
@media (max-width: 750px) {
    .port__h-section-desc {
        text-align: center;
    }
}
.port__h-section-linker {
    font-family: spoqa, 'sans-serif';
    font-weight: 300;
    font-size: clamp(12px, 18 / 1920 * 100vw, 18 / 1920 * 100vw);
    margin-top: clamp(35px, 50 / 1920 * 100vw, 50 / 1920 * 100vw);
    padding-top: clamp(15px, 15 / 1920 * 100vw, 15 / 1920 * 100vw);
    padding-bottom: clamp(15px, 15 / 1920 * 100vw, 15 / 1920 * 100vw);
    padding-left: clamp(40px, 40 / 1920 * 100vw, 40 / 1920 * 100vw);
    padding-right: clamp(40px, 40 / 1920 * 100vw, 40 / 1920 * 100vw);
    border-radius: 10px;
    background: #0003;
    color: #fff;
}
@media (max-width: 750px) {
    .port__h-section-linker {
        font-family: spoqa, 'sans-serif';
        font-weight: 300;
        font-size: clamp(14px, 14 / 1920 * 100vw, 14 / 1920 * 100vw);
    }
}
.port__vector-wrap {
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
}
.port__vector {
    position: absolute;
    fill: #000;
    opacity: 0.2;
    width: clamp(95px, 190 / 1920 * 100vw, 190 / 1920 * 100vw);
    height: clamp(65px, 130 / 1920 * 100vw, 130 / 1920 * 100vw);
}
.port__vector:nth-child(1) {
    top: -12%;
    left: -15%;
    transform: scale(0.4);
}
@media (max-width: 750px) {
    .port__vector:nth-child(1) {
        left: -15%;
    }
}
.port__vector:nth-child(2) {
    top: -13%;
    left: 10%;
    transform: scale(0.5);
}
.port__vector:nth-child(3) {
    top: -12%;
    left: 35%;
    transform: scale(0.4);
}
.port__vector:nth-child(4) {
    top: -10%;
    left: 60%;
    transform: scale(0.5);
}
.port .port__h-section--01 .port__vector:nth-child(1) {
    opacity: 0;
}
.footer {
    z-index: 200;
    position: relative;
    width: 100vw;
    min-height: 100vh;
    min-height: 100lvh;
    background: #111;
    padding: 0 5%;
    overflow: hidden;
}
.footer.--main {
    z-index: 200;
    bottom: 0;
    position: absolute;
    overflow: visible;
}
.footer__loop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 5%;
    border-radius: 100px 100px 0 0;
    background: #111;
    transform: translateY(-90%);
}
@media (max-width: 750px) {
    .footer__loop {
        border-radius: 30px 30px 0 0;
    }
}
.footer__inner {
    margin: 0 auto;
    width: 100%;
    overflow: hidden;
}
.footer__box {
    padding-top: clamp(150px, 150 / 1920 * 100vw, 150 / 1920 * 100vw);
}
.footer__group {
    display: flex;
}
.footer__menu + .footer__menu {
    margin-left: 6%;
}
.footer__tit {
    font-family: spoqa, 'sans-serif';
    font-weight: 700;
    font-size: clamp(14px, 18 / 1920 * 100vw, 18 / 1920 * 100vw);
    color: #fff;
}
.footer__copy {
    margin-top: 50px;
    font-family: spoqa, 'sans-serif';
    font-weight: 300;
    font-size: clamp(15px, 30 / 1920 * 100vw, 30 / 1920 * 100vw);
    color: #fff;
}
.footer__desc {
    margin-top: 20px;
    font-family: spoqa, 'sans-serif';
    font-weight: 300;
    font-size: clamp(12px, 16 / 1920 * 100vw, 16 / 1920 * 100vw);
    color: #fff;
    line-height: 1.6;
}
.footer__logo-wrap {
    position: absolute;
    left: 0;
    bottom: 0;
    pointer-events: none;
}
@media (max-width: 750px) {
    .footer__logo-wrap {
        bottom: 18%;
    }
}
.footer__logo {
    font-style: italic;
    font-family: spoqa, sans-serif;
    font-weight: 700;
    font-size: clamp(80px, 14.5833333333vw, 300px);
    color: #444;
}
.footer__end-copy-wrap {
    position: absolute;
    right: 1.5%;
    bottom: 2%;
}
@media (max-width: 750px) {
    .footer__end-copy-wrap {
        bottom: 12%;
        right: 3%;
    }
}
.footer__end-copy {
    text-align: right;
    font-family: spoqa, 'sans-serif';
    font-weight: 400;
    font-size: clamp(13px, 13 / 1920 * 100vw, 13 / 1920 * 100vw);
    color: #fff;
    letter-spacing: normal;
    line-height: 1.7;
}
.footer__scroll-top-btn-wrap {
    position: absolute;
    top: 50%;
    right: 1.5%;
    transform: translateY(-50%);
}
@media (max-width: 750px) {
    .footer__scroll-top-btn-wrap {
        top: 130px;
        right: 3%;
        transform: translateY(0);
    }
}
.footer__scroll-top-btn {
    display: flex;
    align-items: center;
    width: clamp(45px, 65 / 1920 * 100vw, 65 / 1920 * 100vw);
    height: clamp(45px, 65 / 1920 * 100vw, 65 / 1920 * 100vw);
    background: transparent;
    border-radius: 50%;
    border: 1px solid #fff;
    overflow: hidden;
    transform: rotate(90deg) translate(0);
    transition: all 0.5s ease;
}
@media (hover: hover) and (pointer: fine) {
    .footer__scroll-top-btn:hover {
        background: #fff;
        transform: rotate(90deg) translate(0) scale(1.2);
    }
    .footer__scroll-top-btn:hover .footer__scroll-top-text {
        color: #000;
    }
}
.footer__scroll-top-list {
    flex-shrink: 0;
    display: flex;
    align-items: center;
}
.footer__scroll-top-list.--01 {
    animation: 9s linear 0s infinite normal none running rolling01;
}
.footer__scroll-top-list.--02 {
    animation: 9s linear 0s infinite normal none running rolling02;
}
.footer__scroll-top-item {
    display: flex;
}
.footer__scroll-top-text {
    font-family: spoqa, 'sans-serif';
    font-weight: 500;
    font-size: clamp(11px, 11 / 1920 * 100vw, 11 / 1920 * 100vw);
    color: #fff;
    margin-left: 10px;
    transition: all 0.5s ease;
}
@keyframes rolling01 {
    0% {
        transform: translate(0);
    }
    50% {
        transform: translate(-100%);
    }
    50.01% {
        transform: translate(100%);
    }
    to {
        transform: translate(0);
    }
}
@keyframes rolling02 {
    to {
        transform: translate(-200%);
    }
}
.portfolio {
    padding: 0 2% 30%;
    background: #016552;
    overflow: hidden;
}
@media (max-width: 750px) {
    .portfolio {
        padding: 0 0 82%;
    }
}
.portfolio__section-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.portfolio__project-section {
    position: relative;
    display: flex;
    width: 100%;
}
.portfolio__project-section + .portfolio__project-section {
    margin-top: 30%;
}
@media (max-width: 750px) {
    .portfolio__project-section + .portfolio__project-section {
        margin-top: 82%;
    }
}
.portfolio__project-section:nth-child(2n) .portfolio__figure-wrap {
    margin-left: auto;
}
@media (max-width: 750px) {
    .portfolio__project-section:nth-child(2n) .portfolio__figure-wrap {
        margin: 0 auto;
    }
}
.portfolio__project-section:nth-child(odd) .portfolio__figure-wrap {
    margin-right: auto;
}
@media (max-width: 750px) {
    .portfolio__project-section:nth-child(odd) .portfolio__figure-wrap {
        margin: 0 auto;
    }
}
.portfolio__intro {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 80vh;
    margin: 0 auto;
}
.portfolio__intro-headline {
    text-align: center;
    color: #111;
    font-family: spoqa, 'sans-serif';
    font-weight: 700;
    font-size: clamp(50px, 80 / 1920 * 100vw, 80 / 1920 * 100vw);
    line-height: 1;
}
@media (max-width: 750px) {
    .portfolio__intro-headline {
        font-family: spoqa, 'sans-serif';
        font-weight: 700;
        font-size: clamp(40px, 40 / 1920 * 100vw, 40 / 1920 * 100vw);
        line-height: 1.2;
    }
}
.portfolio__intro-brace {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #111;
    margin-top: clamp(30px, 40 / 1920 * 100vw, 40 / 1920 * 100vw);
    font-family: spoqa, 'sans-serif';
    font-weight: 300;
    font-size: clamp(20px, 40 / 1920 * 100vw, 40 / 1920 * 100vw);
}
.portfolio__intro-desc {
    display: block;
    margin: clamp(10px, 30 / 1920 * 100vw, 30 / 1920 * 100vw);
    margin-top: 0;
    margin-bottom: 0;
    font-family: spoqa, 'sans-serif';
    font-weight: 300;
    font-size: clamp(20px, 40 / 1920 * 100vw, 40 / 1920 * 100vw);
    line-height: 1.4;
}
.portfolio__hashtag-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: clamp(30px, 40 / 1920 * 100vw, 40 / 1920 * 100vw);
}
.portfolio__hashtag-text {
    text-align: center;
    font-family: spoqa, 'sans-serif';
    font-weight: 300;
    font-size: clamp(15px, 30 / 1920 * 100vw, 30 / 1920 * 100vw);
    color: #111;
}
.portfolio__hashtag-text + .portfolio__hashtag-text {
    margin-left: clamp(10px, 20 / 1920 * 100vw, 20 / 1920 * 100vw);
}
.portfolio__rolling-wrap {
    position: absolute;
    left: 0;
    top: 50%;
    display: flex;
    justify-content: flex-start;
    transform: translateY(-50%);
    pointer-events: none;
}
@media (max-width: 750px) {
    .portfolio__rolling-wrap {
        top: auto;
        bottom: -50%;
    }
}
.portfolio__rolling-wrap.--reverse {
    display: flex;
    justify-content: flex-end;
}
.portfolio__rolling-list {
    flex-shrink: 0;
    display: flex;
}
.portfolio__rolling-item {
    flex-shrink: 0;
    font-family: spoqa, 'sans-serif';
    font-weight: 700;
    font-size: clamp(50px, 130 / 1920 * 100vw, 130 / 1920 * 100vw);
    color: #fff;
    opacity: 0.15;
}
.portfolio__figure-wrap {
    position: relative;
    width: 50%;
}
@media (max-width: 750px) {
    .portfolio__figure-wrap {
        width: 100%;
    }
}
.portfolio__figure-box {
    position: relative;
    padding-top: 82.5%;
    overflow: hidden;
    border-radius: clamp(25px, 50 / 1920 * 100vw, 50 / 1920 * 100vw);
    isolation: isolate;
}
@media (max-width: 750px) {
    .portfolio__figure-box {
        border-radius: 0;
    }
}
.portfolio__figure {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    will-change: transform;
    isolation: isolate;
    overflow: hidden;
}
.portfolio__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    transform: scale(1.2);
    will-change: transform;
}
.portfolio__detail-wrap {
    position: absolute;
    bottom: 0;
    left: 50%;
    display: flex;
    justify-content: center;
    transform: translate(-50%, 68%);
}
@media (max-width: 750px) {
    .portfolio__detail-wrap {
        transform: translate(-50%, 76%);
    }
}
.portfolio__detail-box {
    flex-shrink: 0;
    text-align: center;
}
.portfolio__tit {
    font-family: spoqa, 'sans-serif';
    font-weight: 700;
    font-size: clamp(25px, 60 / 1920 * 100vw, 60 / 1920 * 100vw);
    color: #fff;
}
.portfolio__desc {
    margin-top: clamp(15px, 20 / 1920 * 100vw, 20 / 1920 * 100vw);
    font-family: spoqa, 'sans-serif';
    font-weight: 300;
    font-size: clamp(12px, 24 / 1920 * 100vw, 24 / 1920 * 100vw);
    color: #fff;
    letter-spacing: normal;
}
.detail {
    padding-top: clamp(200px, 330 / 1920 * 100vw, 330 / 1920 * 100vw);
    padding-bottom: clamp(200px, 330 / 1920 * 100vw, 330 / 1920 * 100vw);
    color: #fff;
}
.detail__intro {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    color: inherit;
    padding: 0 10%;
}
.detail__intro-category {
    font-family: spoqa, 'sans-serif';
    font-weight: 300;
    font-size: clamp(15px, 24 / 1920 * 100vw, 24 / 1920 * 100vw);
    letter-spacing: normal;
    text-align: center;
}
.detail__intro-headline {
    margin-top: clamp(15px, 30 / 1920 * 100vw, 30 / 1920 * 100vw);
    font-family: spoqa, 'sans-serif';
    font-weight: 700;
    font-size: clamp(40px, 100 / 1920 * 100vw, 100 / 1920 * 100vw);
    text-align: center;
    word-break: keep-all;
    line-height: 1.6;
}
.detail__brief {
    width: 100%;
    margin-top: clamp(100px, 250 / 1920 * 100vw, 250 / 1920 * 100vw);
    padding: 0 10%;
    color: inherit;
}
@media (max-width: 750px) {
    .detail__brief {
        margin-top: clamp(70px, 100 / 1920 * 100vw, 100 / 1920 * 100vw);
    }
}
.detail__brief-wrap {
    width: 100%;
    display: flex;
    justify-content: center;
    color: inherit;
}
@media (max-width: 750px) {
    .detail__brief-wrap {
        flex-direction: column;
    }
}
.detail__brief-tit-box {
    flex: 1;
    margin-right: 5%;
    text-align: left;
}
@media (max-width: 750px) {
    .detail__brief-tit-box {
        margin-right: 0;
    }
}
.detail__brief-tit {
    font-family: spoqa, 'sans-serif';
    font-weight: 700;
    font-size: clamp(30px, 60 / 1920 * 100vw, 60 / 1920 * 100vw);
    color: inherit;
    word-break: keep-all;
    line-height: 1.6;
}
.detail__brief-meta {
    display: flex;
    flex-wrap: wrap;
    margin-top: clamp(20px, 40 / 1920 * 100vw, 40 / 1920 * 100vw);
}
@media (max-width: 750px) {
    .detail__brief-meta {
        flex-direction: column;
    }
}
.detail__brief-meta-list {
    display: flex;
    margin-right: clamp(15px, 30 / 1920 * 100vw, 30 / 1920 * 100vw);
    margin-bottom: clamp(15px, 30 / 1920 * 100vw, 30 / 1920 * 100vw);
}
.detail__brief-meta-tit {
    font-family: spoqa, 'sans-serif';
    font-weight: 400;
    font-size: clamp(15px, 15 / 1920 * 100vw, 15 / 1920 * 100vw);
    color: #ccc;
    letter-spacing: normal;
}
.detail__brief-meta-desc {
    margin-left: clamp(10px, 10 / 1920 * 100vw, 10 / 1920 * 100vw);
    font-family: spoqa, 'sans-serif';
    font-weight: 400;
    font-size: clamp(15px, 15 / 1920 * 100vw, 15 / 1920 * 100vw);
    letter-spacing: normal;
}
.detail__brief-desc-box {
    flex: 1;
    width: 50%;
}
@media (max-width: 750px) {
    .detail__brief-desc-box {
        margin-top: clamp(100px, 100 / 1920 * 100vw, 100 / 1920 * 100vw);
        width: 100%;
    }
}
.detail__brief-category {
    margin-top: clamp(15px, 22 / 1920 * 100vw, 22 / 1920 * 100vw);
    font-family: spoqa, 'sans-serif';
    font-weight: 700;
    font-size: clamp(25px, 25 / 1920 * 100vw, 25 / 1920 * 100vw);
    letter-spacing: normal;
}
.detail__brief-divide {
    margin: 20px 0;
    height: 1px;
    border: 0;
    opacity: 0.3;
    background: #fff;
}
.detail__brief-desc {
    font-family: spoqa, 'sans-serif';
    font-weight: 400;
    font-size: clamp(18px, 18 / 1920 * 100vw, 18 / 1920 * 100vw);
    letter-spacing: normal;
    line-height: 1.8;
}
.detail__linker {
    display: inline-block;
    margin-top: clamp(20px, 40 / 1920 * 100vw, 40 / 1920 * 100vw);
    border: 1px solid #aaa;
    border-radius: 50px;
    padding: 20px 40px;
    text-align: center;
    background: transparent;
    transition: background-color 0.5s ease, border 0.5s ease;
    color: inherit;
}
@media (hover: hover) and (pointer: fine) {
    .detail__linker:hover {
        background: #111;
        border: 1px solid transparent;
    }
}
.detail__linker-text {
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    font-family: spoqa, 'sans-serif';
    font-weight: 400;
    font-size: clamp(13px, 13 / 1920 * 100vw, 13 / 1920 * 100vw);
    color: inherit;
}
.detail__picture {
    margin-top: clamp(100px, 250 / 1920 * 100vw, 250 / 1920 * 100vw);
}
@media (max-width: 750px) {
    .detail__picture {
        margin-top: clamp(70px, 100 / 1920 * 100vw, 100 / 1920 * 100vw);
    }
}
.detail__picture.--first {
    margin-top: clamp(50px, 120 / 1920 * 100vw, 120 / 1920 * 100vw);
}
@media (max-width: 750px) {
    .detail__picture.--first {
        margin-top: clamp(20px, 50 / 1920 * 100vw, 50 / 1920 * 100vw);
    }
}
.detail__picture--type-01 {
    padding: 0 5%;
}
.detail__picture--type-01 .detail__picture-figure {
    border-radius: clamp(10px, 20 / 1920 * 100vw, 20 / 1920 * 100vw);
    overflow: hidden;
}
.detail__picture-figure {
    overflow: hidden;
}
.detail__picture-img {
    display: block;
    width: 100%;
}
.contact {
    overflow: hidden;
    padding-bottom: 15%;
}
.contact__intro {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 80vh;
    margin: 0 auto;
}
.contact__intro-headline {
    text-align: center;
    color: #111;
    font-family: spoqa, 'sans-serif';
    font-weight: 700;
    font-size: clamp(50px, 80 / 1920 * 100vw, 80 / 1920 * 100vw);
    line-height: 1;
}
@media (max-width: 750px) {
    .contact__intro-headline {
        font-family: spoqa, 'sans-serif';
        font-weight: 700;
        font-size: clamp(40px, 40 / 1920 * 100vw, 40 / 1920 * 100vw);
        line-height: 1.2;
    }
}
.contact__intro-brace {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #111;
    margin-top: clamp(30px, 40 / 1920 * 100vw, 40 / 1920 * 100vw);
    font-family: spoqa, 'sans-serif';
    font-weight: 300;
    font-size: clamp(20px, 40 / 1920 * 100vw, 40 / 1920 * 100vw);
}
.contact__intro-desc {
    display: block;
    margin: clamp(10px, 30 / 1920 * 100vw, 30 / 1920 * 100vw);
    margin-top: 0;
    margin-bottom: 0;
    font-family: spoqa, 'sans-serif';
    font-weight: 300;
    font-size: clamp(20px, 40 / 1920 * 100vw, 40 / 1920 * 100vw);
    line-height: 1.4;
}
.contact__info-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: clamp(15px, 30 / 1920 * 100vw, 30 / 1920 * 100vw);
    margin-top: clamp(30px, 60 / 1920 * 100vw, 60 / 1920 * 100vw);
}
.contact__info-text {
    font-family: spoqa, 'sans-serif';
    font-weight: 300;
    font-size: clamp(20px, 40 / 1920 * 100vw, 40 / 1920 * 100vw);
    color: #111;
    text-align: center;
    letter-spacing: normal;
}
.contact__rolling {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    pointer-events: none;
}
@media (max-width: 750px) {
    .contact__rolling {
        transform: translateY(-30%);
    }
}
.contact__rolling-list {
    flex-shrink: 0;
    display: flex;
    pointer-events: none;
}
.contact__rolling-item {
    flex-shrink: 0;
    font-family: spoqa, 'sans-serif';
    font-weight: 400;
    font-size: clamp(100px, 150 / 1920 * 100vw, 150 / 1920 * 100vw);
    color: #ddd;
    pointer-events: none;
}
@media (max-width: 750px) {
    .contact__rolling-item {
        font-family: spoqa, 'sans-serif';
        font-weight: 400;
        font-size: clamp(80px, 100 / 1920 * 100vw, 100 / 1920 * 100vw);
    }
}
.detail[data-v-7a0d61db],
.detail[data-v-13b721d6],
.detail[data-v-c33640c5],
.detail[data-v-4b3857ec],
.detail[data-v-2cb991f9] {
    background: #f3f4f6;
}
